/* * {
    outline: 1px solid tomato;
} */

@keyframes scroll_motion {
    0% {
        top: 0;
        height: 0;
    }

    45% {
        top: 0;
        height: 100%;
    }

    55% {
        top: 0;
        height: 100%;
    }

    100% {
        top: 100%;
        height: 0;
    }
}

.topbanner .inner {
    display: block;
    width: 2000px;
    height: 100px;
    background: url(../img/topbanner.jpg) no-repeat;
    cursor: pointer;

    overflow: hidden;
    transition: 1s;
}

.topbanner .inner:hover {
    height: 300px;
    background: url(../img/topbanner_on.jpg) no-repeat;
}

h2 {
    font-family: 'Noto Serif';
    font-size: 50px;
    text-align: center;
    color: #111;
    margin: 0 0 60px 0;
}

.header {
    position: relative;
}

.header h1 {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 0;
    line-height: 100px;
}

.header .inner {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.header .inner .gnb ul {
    display: flex;
    gap: 30px;
    line-height: 100px;
}

.header .inner .right {
    position: absolute;
    top: 0;
    right: 150px;
    display: flex;
    gap: 15px;
    line-height: 100px;
}

.header .inner .right i {
    font-size: 22px;
    vertical-align: middle;
}

.header .inner .login span {
    font-size: 14px;

}

.header .inner .login span::after {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.mainVisual {
    position: relative;
    font-family: 'Noto Serif KR', 'Noto Serif';
}

.mainSlide .itm {
    position: relative;
    height: 850px;
}

.mainSlide .itm p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 200px 0 0 150px;
    font-size: 60px;
    font-weight: 300;
    line-height: 86px;
    height: 240px;
    color: #fff;
}

.mainSlide .slick-dots {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1;
}

.mainSlide .slick-dots>li {
    display: inline-block;
    margin: 0 65px 0 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    text-indent: 6px;
}

.mainSlide .slick-dots>li.slick-active {
    color: #f8f8f8;
    font-weight: 500;
}


.mainVisual .txt {
    position: absolute;
    top: 470px;
    left: 150px;
    color: #fff;
    padding: 15px;

    cursor: pointer;
    overflow: hidden;
}

.mainVisual .txt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;

}

.mainVisual .txt:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}


.mainVisual .txt::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 0;
    height: 0;
    visibility: hidden;

    transition: 0.5s;
}

.mainVisual .txt:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.mainVisual .bar {
    position: absolute;
    top: 180px;
    left: 150px;
    width: 360px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);

}

.mainVisual .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 100%;
    background: #fff;
}


.mainSlide .slick-arrow {
    position: absolute;
    top: 160px;
    left: 570px;
    z-index: 999;
    cursor: pointer;

    background: none;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    font-size: 0;

    width: 40px;
    height: 40px;
}

.mainSlide .slick-arrow:hover {
    border: 1px solid #fff;
    border-radius: 50%;

    transition: 1s;
}

.mainSlide .slick-prev {
    background: url(../img/btn_arrow_next_white.png) no-repeat center center/cover;
    transform: rotate(180deg);
    margin: 0 0 0 -50px;
}

.mainSlide .slick-next {
    background: url(../img/btn_arrow_next_white.png) no-repeat center center/cover;
}



.mainVisual .scroll p {
    font-family: 'Noto Sans KR';
    position: absolute;
    bottom: 190px;
    left: 150px;
    color: #fff;
}

.mainVisual .scroll .line {
    position: absolute;
    bottom: 60px;
    left: 150px;
    height: 86px;
}

.mainVisual .scroll .line::before {
    position: absolute;
    content: "";
    bottom: -50px;
    left: 10px;
    width: 1px;
    opacity: 0.8;

    background-color: #fff;
    animation: scroll_motion 2.5s infinite;
}

.mainVisual .scroll .line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(140deg);
    opacity: 0.8;
}



.mainEvent {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.mainEvent .tit {
    text-align: center;
}

.mainEvent .tit img {
    display: inline-block;
    vertical-align: text-bottom;
}

.mainEvent .tit>p {
    display: inline-block;
    color: #777;
    margin: 0 0 50px 0;
    font-weight: 300;
}

.mainEvent .tit>p>strong {
    color: #111;
}

.mainEvent .tit>p>span {
    color: #8b714c;
    text-decoration: underline;
    text-underline-position: under;
}

.mainEvent .event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.mainEvent .event .txt_box {
    display: inline-block;
    padding: 20px 0 30px 10px;
}

.mainEvent .event .txt_box span {
    font-size: 14px;
    color: #8b714c;
}

.mainEvent .event .txt_box .bars::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 1px;
    height: 12px;
    background: #999;
    margin: 0 5px;
    vertical-align: bottom;
}

.mainEvent .event .txt_box p {
    font-size: 18px;
    margin: 10px 0 10px 0;
    line-height: 28px;
}

.mainEvent .event .box {
    position: relative;
    overflow: hidden;
}

.mainEvent .event .box .txt_box em {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #888;
    line-height: 24px;
}

.mainEvent .more {
    display: block;
    text-align: center;
    padding: 50px 0;
}

.mainEvent .more span {
    border-bottom: 2px solid rgb(242, 44, 45);
}

.mainArt {
    padding: 0 0 200px 0;
}

.mainArt .inner {
    width: 1200px;
    height: 480px;
}

.mainArt .left_tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.mainArt .left_tab .itm {
    display: none;
}

.mainArt .left_tab .itm.on {
    display: block;
}

.mainArt .left_tab .tit {
    font-size: 36px;
    color: #fff;
    line-height: 56px;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
    margin: 0 0 30px 0;
}

.mainArt .left_tab span {
    display: block;
    font-size: 18px;
    color: #e0c799;
    margin: 25px 5px;
    letter-spacing: 1px;
}

.mainArt .left_tab a {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
}


.mainArt .art_content_wrap {
    position: relative;
}

.mainArt .right_slide {
    position: absolute;
    top: 50px;
    right: -250px;
    width: 1200px;
}

.mainArt .right_slide figure {
    padding: 0 15px;
}

.art_content_wrap .inner .arrows {
    position: absolute;
    bottom: 100px;
    left: 728px;
    color: #fff;
    font-size: 14px;

}

.art_content_wrap .inner .arrows i {
    padding: 0 10px;
    cursor: pointer;
}

.art_content_wrap .inner .num {
    position: absolute;
    bottom: 100px;
    left: 650px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.art_content_wrap .inner .num span {
    padding: 0 10px;
}

.art_content_wrap .inner .num .op {
    opacity: 0.5;
}

.mainNow {
    padding: 0 0 100px 0;
    width: 1200px;
    margin: 0 auto;
}

.mainNow .inner {
    display: flex;
    gap: 30px;
}

.mainNow .inner .case {
    position: relative;
}

.mainNow .inner figure {
    position: relative;
    overflow: hidden;
}

.mainNow .inner figure .over {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 30px 26px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

    transition: 0.5s;
    border-top: 2px solid #f22c2d;

}

.mainNow .inner figure:hover .over {
    top: 180px;
    cursor: pointer;
}

.mainNow .inner figure:hover .up {
    top: 150px;
}

.mainNow .inner .over strong {
    font-size: 12px;
    color: #bea36b;
}

.mainNow .inner .over strong img {
    margin-left: 5px;
}

.mainNow .inner .over p {
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 15px 0 25px;
    line-height: 28px;
}

.mainNow .inner .over a {
    margin: auto 0 0 0;
    font-size: 13px;
    align-self: start;
}

.mainNow .inner .over a i {
    font-size: 10px;
}

.mainNow .sns {
    text-align: center;
    padding: 100px 0 50px 0;
}

.mainNow .sns .txt span {
    font-size: 20px;
    font-weight: 700;
}

.mainNow .sns .txt p {
    padding: 10px 0 20px 0;
    font-size: 15px;
    font-weight: 300;
}

.mainNow .sns .txt i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 0 0 5px;
    background: url(../img/ico_channel_off.png) no-repeat bottom/cover;
}


.mainNow .sns .txt:hover i {
    background: url(../img/ico_channel_on.png);
}

.mainNow .sns ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 15px;

}

.mainNow .sns ul .post {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_post.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .post:hover {
    background: url(../img/ico_post_on.png) no-repeat;
}

.mainNow .sns ul .face {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_facebook.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .face:hover {
    background: url(../img/ico_facebook_on.png) no-repeat;
}

.mainNow .sns ul .insta {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_instagram.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .insta:hover {
    background: url(../img/ico_instagram_on.png) no-repeat;
}

.mainNow .sns ul .youtube {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_youtube.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .youtube:hover {
    background: url(../img/ico_youtube_on.png) no-repeat;
}

.mainNow .sns ul .app {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_app.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .app:hover {
    background: url(../img/ico_app_on.png) no-repeat;
}

.mainNow .sns ul .kakao {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_kakao.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .kakao:hover {
    background: url(../img/ico_kakao_on.png) no-repeat;
}

.mainNow .sns ul .sbot {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/ico_sbot.png) no-repeat;
    cursor: pointer;
}

.mainNow .sns ul .sbot:hover {
    background: url(../img/ico_sbot_on.png) no-repeat;
}



.footer {
    background: #232323;
    color: #fff;
}

.footer .inner_top {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 25px 0;

    border-bottom: 1px solid #333;
}

.footer .inner_top figure {
    margin: 0 30px 0 0;
}

.footer .inner_top .list {
    display: flex;
    flex-direction: column;
    color: #949494;
    line-height: 16px;
}

.footer .inner_top .list .top {
    display: flex;
    gap: 30px;
    font-weight: 300;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.footer .inner_top .list .bottom {
    display: flex;
    gap: 30px;
    font-weight: 300;
    font-size: 15px;
}

.footer .inner_top .list .bottom .red {
    font-weight: bold;
    color: #f22c2d;
}

.footer .inner_top .fmsite {
    position: absolute;
    right: 0;
}

#f_site {
    outline: none;
    font-size: 13px;
    padding: 5px 10px 5px 0;
    color: #8c8c8c;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    cursor: pointer;
}

#f_site option {
    background: #232323;
    font-size: 12px;
}


.footer .inner_bottom {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0;

    font-weight: 300;
    font-size: 14px;
    color: #949494;
    line-height: 24px;
}

.footer .inner_bottom ul {
    display: flex;
    gap: 15px;
}

.footer .inner_bottom ul li {
    position: relative;
    margin: 0 10px 0 0;
}

.footer .inner_bottom ul li~li::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -11px;
    width: 1px;
    height: 12px;
    background: #555;
}

.footer .inner_bottom address {
    font-size: 12px;
    letter-spacing: 1px;
}